@tailwind base;
@tailwind components;
@tailwind utilities;

inline-code {
  @apply bg-base-200;
}

.bg-grid {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image:
    linear-gradient(to right, #80808012 1px, transparent 1px),
    linear-gradient(to bottom, #80808012 1px, transparent 1px);
  background-size: 24px 24px;
}

.bg-dots {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
  background-size: 16px 16px;
}
